<div class='comment' id='azash_comment_<%=comment.id%>'>
  <div class='content'>
    <%=raw comment.formatted_content %>
  </div>
  <div class='posted'>
    <%- unless comment.url.nil? || comment.url.empty? -%>
    <span class='name'><a rel='nofollow' href="<%= comment.url %>"><%= comment.name%></a></span>
    <%- else -%>
    <span class='name'><%= comment.name%></span>
    <%- end -%>
    <span class='at'>at</span>
    <time class='date'><%= comment.created_at %></time>
  </div>
</div>