<%
entry_comments = ActiveSupport::OrderedHash.new
@comments.each do |comment|
  entry_comments[comment.entry] ||= []
  entry_comments[comment.entry] << comment
end
%>

<dl id='azash_recent_entry_comments'>
<% entry_comments.each do |entry, comments| %>
  <dt><a href='<%=entry.url%>#comments'><%= entry.title %></a></dt>
  <% comments.each do |comment| %>
  <dd>
    <%- unless comment.url.nil? && comment.url.empty? -%>
    <span class='name'><a rel='nofollow' href="<%= comment.url %>"><%= comment.name%></a></span>
    <%- else -%>
    <span class='name'><%= comment.name%></span>
    <span class='at'>at</span>
    <time class='date'><%= comment.created_at %></time>
  </dd>
  <% end %>
<% end %>
</dl>